<div class="post-comment">
<hr>

<p class="username">
    Review By <%= link_to user = User.find(comment.user_id).username, user_path(comment.user_id) %>

</p>

  <p class="timestamp"> Posted <%= time_ago_in_words(comment.created_at) %>
     ago</p>

     <!-- IF CURRENT USER IS LOGGED IN THEN LET THEM EDIT THEIR COMMENTS -->
     <% if logged_in? && current_user.id == comment.user_id %>
       <%= link_to 'DELETE', pizza_place_comment_path(comment.pizza_place_id, comment.id), :method => :delete, :class => "comment-options" %>

       <%=  link_to 'EDIT', edit_pizza_place_comment_path(comment.pizza_place_id, comment.id),:class => "comment-options" %>

     <% end %>


  <p class="comment"><%= comment.body %></p>


</div>
