<div id="pizza-show">

<div id="back">
  <%= link_to "<< Back to Pizza Places", pizza_places_path %>
</div>

  <h1><%= @pizza_place.name %></h1>

  <div id="list">
    <% if logged_in? %>

    <%- unless current_user.favorite_pizza_places.exists?(id: @pizza_place.id) -%>
    <%= link_to "Eaten here? Add it to your profile!", favorite_pizza_places_path(pizza_place_id: @pizza_place), method: :post %>
    <%- else -%>
    <%= link_to "You've Eaten Here. Remove From Your Profile?", favorite_pizza_place_path(@pizza_place), method: :delete %>
    <%- end -%>
    <%- end -%>
  </div>

  <ul class="information">
    <li>Address:
      <span>
        <%=@pizza_place.address %>
      </span>
    </li>
    <li>Neighborhood:
      <span>
        <%= @pizza_place.neighborhood %></span>
    </li>
    <li>Phone:
      <span>
        <%= @pizza_place.phone %></span>
    </li>
    <li>
      <a href="http://<%= @pizza_place.website %>"><span>
      Website</span>
  </a>
</li>

<br>
<li>What To Order:
  <span>
    <%= @pizza_place.item %>
  </span>
</li>
<li>
  <img alt="" src="<%= @pizza_place.image_url %>"/>
</li>

</ul>

<hr>

<div id="comments">
<h3>
Reviews
</h3>

<% if logged_in? %>
<%= render partial: 'comments/form'%>

<% end %>

<%= render partial: 'comments/comment', collection: @pizza_place.comments %>
</div>
</div>
