<!DOCTYPE html>
<html>

<head>
  <title>PizzaParty</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
      <link href='https://fonts.googleapis.com/css?family=Montserrat' rel='stylesheet' type='text/css'>
      <%= csrf_meta_tags %>
</head>

<body>

  <header>
    <a href="/pizza_places/">
      <img class="logo" src="http://i65.tinypic.com/125tlqp.png" alt="" />
    </a>

    <!-- <h2 class="tagline"> Can you join <i>THE</i> Pizza Party? </h2> -->

    <% if logged_in? %>
      <div class="log-status">
        You are logged in as
        <div id="username-header">
        <%= link_to current_user.username, user_path(current_user.id)%>
        </div>
        <br>

        <div id="logout-button">
        <%= button_to 'Logout', logout_path, :method => :delete %>
      </div>
      </div>

      <% else %>
        <div class="log-status" id="login-header">
          <%= link_to 'Login', login_path %>
        </div>
        <% end %>

  </header>

  <%= yield %>


</body>

</html>
