<!DOCTYPE html>
<html>
<head>
  <title>PizzaParty</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>

<a href="/pizza_places/">
  <img class="logo" src="http://i65.tinypic.com/125tlqp.png" alt="" />
</a>


  <% if logged_in? %>
  <div id="logout">
    <%= link_to 'Logout', logout_path, :method => :delete %> </div>
    You are logged in as <%= link_to current_user.username, user_path(current_user.id) %>.
  <% else %>
  <div id="login">
    <%= link_to 'Login', login_path %>
  </div>
  <% end %>


<%= yield %>

</body>
</html>

<!-- /Users/zoejablow/desktop/pizza_party/Pizza_Party/app/views/layouts/application.html.erb

/Users/zoejablow/desktop/pizza_party/Pizza_Party/app/assets/images/pizzaparty.png

././images/pizzaparty.png -->
